@model IEnumerable<SAOnlineMart.Models.DataModels.Product>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Name</td>
                <td>@product.Description</td>
                <td>@product.Price</td>
                <td>
                    <button data-id="@product.ProductId" class="btn btn-warning edit-product-btn">Edit</button>
                </td>
            </tr>
        }
    </tbody>
</table>
